{% extends "layout.html" %}

{% block head %}
    <title>Sobre -  Pedro Neves</title>
{% endblock %}

{% block content %}



<div id="wrapper">
    <img src="imagens/baixados.png" alt="Pedro Neves">
    <h1>Pedro Neves</h1>
    <h2>Front-End Developer</h2>
    <p>Programador front-end e UX Design que busca melhorar a experiência do usuário e implementação da parte do design da aplicação. Objetivo é ser um desenvolvedor da <a href="https://ciandt.com/br/pt-br" target="_blank">CI&T.</a></p>

</div>

<div id="links-footer" class="links">
    <a href="https://github.com/tyson-neves" target="_blank"> GitHub</a>
    <a href="https://app.rocketseat.com.br/me/pedro-neves-1567041448" target="_blank"> Rocketseat</a> 
    <a href="https://www.linkedin.com/in/devpedro-neves/" target="_blank">Linkedin</a> 
    </div>

    {% endblock %}