@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


/* ================= HEADER ================= */

.header {
    max-width: 94rem;
    margin: 4rem auto;
    position: relative;
}

.logo {
    display: inline-block;
}
.logo a {
    text-decoration: none;
}

.menu {
    text-align: center;
    position: absolute;
    top: .6rem;
    left: 22rem;
}

.menu a {
    font-size: 1.6rem;
    text-decoration: none;
    color:#111111;
    padding: 1rem;
}

.active {
    font-weight: bold;
}

/* ================= BANNER ================= */


.banner {
    width: 94rem;
    height: 36.6rem;
    margin: 0 auto;
    background-color: #FBDFDB;
    border-radius: 3rem;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 35%;
    left: 6rem;
    
}
.banner-text h1 {
    font-size: 3.2rem;
}

.banner-text p {
    font-size: 1.8rem;
    width: 32.5rem;
    line-height: 2.8rem;
}

.chef {
    position: absolute;
    right: 12rem;
    bottom: 0;
}


/* ================= MAIS ACESSADAS  ================= */

.mais_acessadas_container {
    max-width: 94rem;
    margin: 0 auto;
}
.mais_acessadas {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.mais_acessadas h2 {
    font-size: 2.4rem;
    color: #111;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.card-image img {
    width: 100%;
    border-radius: 1.5rem;
}

.card_description {
    font-size: 1.8rem;
    color: #111111;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.creator {
    font-size: 1.4rem;
    color: #777777;
}


/* ================= FOOTER ================= */

.footer_content {
    width: 100%;
    height: 6.2rem;
    background-color: #eee;
    margin-top: 5rem;

}

.footer-text {
    font-size: 1.4rem;
    color: #999;
    text-align: center;
    padding-top: 2.5rem;
    
}




/* ================= SOBRE ================= */



.container {
    width: 94rem;
    margin: 0 auto;
}

.about-foodfy  {
    margin-bottom: 2rem;
}
.about-foodfy h1 {
    font-size: 2.4rem;
    color: #111111;
    font-weight: bold;
}
.about-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #444;
    margin-bottom: 3rem;
}

.how-started  h2 {
    font-size: 2rem;
    color: #111;
    margin-bottom: 2rem;
}
.how-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #444;
    margin-bottom: 3rem;
}

.our-recipes h2{
    font-size: 2rem;
    color: #111;
    margin-bottom: 2rem;
}
.our-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #444;
    margin-bottom: 3rem;
}